body {
  font-family: 'Courier New', monospace;
  text-align:center;
  background-color: black;
  color: lightgrey;
}
li {
  list-style: circle;
}

.list {
  list-style: square;
}

#msg {
  font-family: monospace;
}
.light-theme {
  color: #000000;
  background: #FFFFFF;
}
