:root {
  --green: #00FF00;
  --white: #ffffff;
  --black: #000000;
}
* {
  font-family: 'Courier New', monospace;
  background: var(--bg);
  color: var(--fontColor);
}
body {
  text-align:center;
}
li {
  list-style: circle;
}

.list {
  list-style: square;
}

#msg {
  font-family: monospace;
}
.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
}
.dark-theme {
  --bg: var(--black);
  --fontColor: var(--lightgrey);
}
